<div class="clients-profile" fxLayout="row" fxLayoutAlign="start start">
  <section>
    <div>
<!--      <img class="clients-profile__img" src="assets/images/no-profile.png" alt="New client">-->
      <img class="clients-profile__img" src="assets/images/user-image.jpeg" alt="New client">
    </div>

    <div class="clients__name-block">
      <h4 class="clients__headline">JHON SMITH</h4>
      <div class="clients__name-highlights">
        <mat-icon>grade</mat-icon>
        <span>4 Projects</span>
      </div>
    </div>

    <div class="client__basic-info">
      <h4 class="clients__headline">BASIC INFORMATION</h4>
      <div class="clients__info-block">
        <p>
          <mat-icon>cake</mat-icon>
          <span>01-02-1994</span>
        </p>

        <p>
          <mat-icon svgIcon="gender"></mat-icon>
          <span>Male</span>
        </p>
      </div>
    </div>
  </section>

  <section class="contact-info">
    <h4 class="clients__headline">CONTACT INFORMATION</h4>

    <div class="clients__info-block">
      <p class="primary">
        <mat-icon>email</mat-icon>
        <span>praveen@gmail.com</span>
      </p>

      <p>
        <mat-icon>call</mat-icon>
        <span>9012345678</span>
      </p>

      <p class="primary">
        <mat-icon>language</mat-icon>
        <span>www.google.com</span>
      </p>

      <p>
        <mat-icon>location_on</mat-icon>
        <span>N0 2/16, Amman kovil street, Avadi, Chennai 54.</span>
      </p>
    </div>
  </section>
</div>
